@import '../../variables';

.root {
  min-height: 100vh;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:before {
    content: '404';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 700px;
    line-height: 100vh;
    vertical-align: center;
    letter-spacing: 4px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    background-color: $danger;
    z-index: -1;
  }
}
.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}
.white {
  color: #f2f2f2;
}
